/* navbar */
.navbar-brand {
    position: relative;
}

#logo {
    width: 50px;
}

#clinicstar-title {
    color: #000;
    position: absolute;
    bottom: -2px;
    font-size: 30px;
    left: 55px;
    font-weight: bold;
}

#main-navbar {
    background-color: #fff;
}

#search-form {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    width: 50%;
    margin-left: 180px;
    display: flex;
}

#search {
    background-color: #e3e3e3;
}

#search-form .form-control {
    border: none;
    width: 90%;
    box-shadow: none;
}

#navbar {
    min-width: 30%;
}

.navbar-nav {
    justify-content: flex-end;
    width: 100%;
}

.navbar-nav .nav-item .nav-link {
    color: #000;
    transition: .5s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #999;
}

.bold {
    font-weight: bold;
}

.msg-container {
    background-color: #e3e3e3;
    padding: 15px;
}

.msg {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border: solid 1px #e3e3e3;
    text-align: center;
}

.msg.error {
    color: #842029;
    background-color: #f8d7fa;
    border-bottom: #f5c2c7;
}

.msg.success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-bottom: #badbcc;
}

/*home*/
#main-container {
    background-color: #e3e3e3;
    color: #000;
    min-height: 65vh;
    padding: 40px;
}

.section-title {
    font-size: 24px;
    border-left: 4px solid #0a8656;
    padding-left: 12px;
    margin-top: 20px;
}

.section-description {
    color: #8b8b8b;
    font-size: 18px;
}

.clinics-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.clinic-card {
    background-color: #fff;
    width: 18%;
    margin-bottom: 30px;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid #e3e3e3;
}

.clinic-card .card-img-top {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.card-title {
    height: 3rem;
}

.card-title a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.card-title a:hover {
    text-decoration: underline;
}

.fas.fa-star {
    color: rgb(214, 176, 5);
}

.rating {
    color: #555;
}

.rate-btn {
    margin-bottom: 15px;
    color: #e3e3e3;
    background-color: #333;
    border-color: #333;
    width: 100%;
    font-weight: bold;
}

.rate-btn:hover {
    background-color: #444;
    border-color: #444;
}

.empty-list {
    text-align: center;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
}

/* Dashboard */
#add-clinic-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 20px;
}

#clinics-dashboard .actions-column {
    display: flex;
    justify-content: end;
    padding-right: 20px;
    gap: 15px;
}


.actions-column a,
.actions-column button {
    padding: 5px 10px;
    border-radius: 10px;
}

.actions-column a:hover,
.actions-column button:hover {
    opacity: 0.5;
}

.actions-column a {
    background-color: rgb(7, 135, 209);
    color: #fff;
}

.actions-column button {
    background-color: red;
    border: none;
    color: #fff;
}

/* login e register */
#auth-row {
    justify-content: space-evenly;
}

#login-container h2,
#register-container h2 {
    text-align: center;
    border-bottom: 2px solid #0a8656;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}

#login-container form,
#register-container form {
    max-width: 400px;
    margin: 30px auto;
}

#register-container .form-group input {
    color: #000;
}

.card-btn {
    color: #e3e3e3;
    background-color: #0a8656;
    border: 2px solid #0a8656;
    width: 100%;
    margin-top: 15px;
}

.card-btn:hover {
    background-color: transparent;
    color: #0a8656;
    border-color: #0a8656;
}

/* edit profile */
#profile-image-container,
.profile-image-container {
    width: 150px;
    height: 150px;
    border: 6px solid #0a8656;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 15px auto;
}

.profile-image-container {
    width: 70px;
    height: 70px;

}

.page-description {
    color: #808080;
}

.bio {
    max-width: 400px;
}

.form-control.disabled {
    background-color: #bbb;
}

#change-password-container {
    margin-top: 30px;
}

.edit-profile-page .card-btn,
#add-clinic-container .card-btn,
#review-form .card-btn,
#edit-clinic-form .card-btn {
    width: auto;
}

/* profile */
.profile-container {
    justify-content: center;
}

.about-title {
    color: #818181;
}

.profile-container .profile-image {
    margin: 20px auto;
}

.profile-description {
    max-width: 500px;
    margin: 20px auto;
}

.added-clinics-container,
.about-container {
    padding-top: 20px;
}

.about-container {
    text-align: center;
    background-color: #fff;
    border-bottom: 3px solid #ccc;
}

.added-clinics-container {
    background-color: #fff;
}

.added-clinics-container .clinics-container {
    padding: 20px;
}

.added-clinics-container .clinic-card {
    width: 31%;
}

/*new clinic*/
.new-clinic-container {
    text-align: center;
}

#add-clinic-form {
    text-align: left;
}

.clinic-image-container {
    height: 400px;
    min-height: 200px;
    background-position: center;
    background-size: cover;
}

.page-title:after {
    content: "";
    width: 300px;
    border-bottom: 2px solid #0a8656;
    display: block;
    margin: 0 auto;
    padding-top: 7px;
}

/* clinic */
.form-group {
    margin-top: 10px;
}

.clinic-container {
    text-align: center;
}

.pipe {
    border: 1px solid #333;
    margin: 0 10px;
}

.reviews-title {
    margin-bottom: 25px;
}

#review-form-container {
    background-color: #fff;
    padding: 20px;
}

.info-text {
    margin-left: 10px;
    border-radius: 5px;
    display: none;
    font-size: 0.7em;
    color: #000;
    position: absolute;
    background: #e3e3e3;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.info-icon {
    margin-left: 5px;
    font-size: 0.8rem;
    background-color: #000;
    color: #e3e3e3;
    border-radius: 50%;
    padding: 0 5px;
    cursor: pointer;
    position: relative;
}

.location-text {
    border-bottom: 1px solid #0a8656;
    text-transform: capitalize;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 15px;
}

#review-form-container select,
#review-form-container textarea {
    width: 50%;
}

#reviews-container {
    padding: 20px 0;
    padding-top: 20px;
    border-top: 4px solid #0a8656;
}

.review {
    padding: 20px 0;
    border: 1px solid #e3e3e3;
}

.clinic-details {
    margin: 25px 0;
}

.author-details-container {
    padding-top: 20px;
}

.author-details-container h4 {
    margin-bottom: 20px;
}

.author-details-container p {
    font-size: 0.7rem;
    margin-top: -15px;
}

.author-name a {
    color: #0a8656;
}

.comment-title {
    color: #999;
}

/*footer*/
#search-title {
    font-size: 40px;
}

#search-result,
.back-link {
    color: #0a8656;
}

/*footer*/
#footer {
    background-color: #e3e3e3;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 20px;
}

#social-container ul,
#footer-links-container ul {
    list-style-type: none;
    padding: 0;
}

#social-container li,
#footer-links-container li {
    display: inline-block;
    margin: 0 20px;
}

#social-container li {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    transition: .5s;
    line-height: 3;
}

#social-container li:hover {
    background-color: #333;
}

#social-container a,
#footer-links-container a {
    color: #000;
    transition: .5s;
}

#social-container li i {
    font-size: 25px;
}

#footer-links-container {
    margin: 30px 0;
}


/* RESPONSIVIDADE MOBILE */
@media(max-width: 450px) {
    header {
        background-color: #fff;
        padding: 15px;
    }

    #main-container {
        padding: 20px;
    }

    /*home*/
    #search-form {
        width: 100%;
        margin-left: 0;
    }

    #search-form .form-control {
        width: 85%;
    }

    .section-title {
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }

    .clinics-container {
        padding: 0 15px;
    }

    .clinic-card {
        width: 100%;
    }

    .clinic-details {
        display: flex;
        flex-direction: column;
    }

    .clinic-details span {
        padding-bottom: 8px;
    }

    .pipe {
        display: none;
    }

    .clinic-container iframe {
        max-width: 100% !important;
    }

    #reviews-container {
        padding-left: 0;
        padding-right: 0;
    }

    #review-form-container select,
    #review-form-container select {
        width: 100%;
    }

    .empty-list {
        margin-top: 20px;
    }

    .msg {
        width: 100%;
    }

    /* clinic */
    .review {
        padding: 0 15px;
    }

    /* dasboard */
    #clinics-dashboard {
        padding: 0;
    }

    .actions-column {
        width: 140px;
    }

    .edit-btn {
        display: block;
        margin-bottom: 10px;
    }

    /* edit clinic */
    .clinic-image-container {
        margin-top: 1rem;
    }

    .fas.fa-bars {
        color: #0a8656;
    }
}